<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="membersDatabase"
           connectionString ="DATABASE CONNECTION STRING"/>
    </connectionStrings>
    <appSettings>
      <add key="imagePath" value="PATH TO IMAGE FOLDER"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>